@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Textile";
}

@model intexii.Models.Textile

<form method="post" style="margin:30px">

    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Id">ID:</label>
        <input asp-for="Id" value="@ViewBag.Tid" readonly />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Locale">Locale:</label>
        <input asp-for="Locale" placeholder="Enter Locale" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Textileid">Textile ID:</label>
        <input asp-for="Textileid" placeholder="Enter Textile ID" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Description">Description:</label>
        <input asp-for="Description" placeholder="Enter Description" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Burialnumber">Burial Number:</label>
        <input asp-for="Burialnumber" placeholder="Enter Burial Number" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Estimatedperiod">Estimated Period:</label>
        <input asp-for="Estimatedperiod" placeholder="Enter the Estimated" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Sampledate">Sample Date:</label>
        <input asp-for="Sampledate" placeholder="Enter the Sample Date" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Photographeddate">Photographed Date:</label>
        <input asp-for="Photographeddate" placeholder="Enter the Photographed Date" />
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Direction">Direction:</label>
        <input asp-for="Direction" placeholder="Enter the Direction" />
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Attach Textile</button>
    <button class="btn btn-danger" asp-controller="Home" asp-action="Index">Return Home</button>
</form>