@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Analysis Confirmation";
}

@model intexii.Models.DecorationTextile;


<div class="container text-center">
    <h2>Analysis record successfully attached if added</h2>
</div>
    <form style="margin:30px">
        <div class="form-group">
            <label>Textile Record:</label>
            <input readonly value="@ViewBag.Values.Tid" class="form-control"/>
        </div>
        <div class="form-group">
            <label>Decoration Record:</label>
            <input readonly value="@ViewBag.Values.Did" class="form-control"/>
        </div>
    </form>
<div class="text-center">
    <form method="post" style="margin:30px">
        <div class="form-group">
            <input asp-for="MainTextileid" value="@ViewBag.Values.Tid" hidden />
        </div>
        <div class="form-group">
            <input asp-for="MainDecorationid" value="@ViewBag.Values.Did" hidden />
        </div>
        <button class="btn btn-primary" type="submit">Attach New Decoration</button>
        <button class="btn btn-danger" type="submit">Skip</button>
    </form>
    <br />
</div>