@{
    ViewData["Title"] = "Body Analysis Check";
}

@model intexii.Models.BurialmainBodyanalysischart;


<div class="container text-center">
    <h2>You are creating a Body Analysis record for this burial</h2>
    <h3>Do you want to continue?</h3>
    <form style="margin:30px">
        <label>Burial Record:</label>
        <input readonly value="@ViewBag.Values.Bid" />
        <label>Body Analysis Record:</label>
        <input readonly value="@ViewBag.Values.Tid" />
    </form>

    <form method="post" style="margin:30px">
        <div class="form-group">
            <input asp-for="MainBurialmainid" value="@ViewBag.Values.Bid" hidden />
        </div>
        <div class="form-group">
            <input asp-for="MainBodyanalysischartid" value="@ViewBag.Values.Tid" hidden />
        </div>
        <button class="btn btn-primary" type="submit">Attach Body Analysis Data</button>
        <button class="btn btn-success" asp-controller="Home" asp-action="Index">Return Home</button>
    </form>
    <br />

</div>