@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Burial Confirmation";
}

@model intexii.Models.BurialmainBodyanalysischart;


<div class="container text-center">
    <h2>Burial record recorded</h2>
</div>
    <form style="margin:30px">
        <div class="form-group">
            <label>Burial Record:</label>
            <input class="form-control" readonly value="@ViewBag.Values.Bid" />
        </div>
        <div class="form-group">
            <label>Body Analysis Record:</label>
            <input class="form-control" readonly value="@ViewBag.Values.Tid" />
        </div>
    </form>

<div class="text-center">
    <form method="post" style="margin:30px">
        <div class="form-group">
            <input asp-for="MainBurialmainid" value="@ViewBag.Values.Bid" hidden />
        </div>
        <div class="form-group">
            <input asp-for="MainBodyanalysischartid" value="@ViewBag.Values.Tid" hidden />
        </div>
        <button class="btn btn-primary" type="submit">Attach Body Analysis Data</button>
        @*<button class="btn btn-danger" type="submit">No</button>*@
        <button class="btn btn-success" asp-controller="Home" asp-action="Index">Return Home</button>
    </form>
</div>