@{
    ViewData["Title"] = "Delete Record";
}
@model intexii.Models.Burialmain

<h2>Confirm Deletion</h2>
<h3>Are you sure you want to delete the record for @Model.Id?</h3>
<p>@ViewBag.Tid.Maintextileid</p>

<form method="post" asp-action="DeleteBurial">
    <button class="btn btn-danger" type="submit">Delete</button>
    <a asp-controller="Home" asp-action="BurialRecords" class="btn btn-primary">Cancel</a>

    <input type="hidden" asp-for="Id" />
</form>