@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Authorization
@using System.ComponentModel.DataAnnotations
@attribute [Authorize(Roles = "Admin,Researcher")]

<!-- Background image -->
<div class="bg-image d-flex justify-content-center align-items-center">
    <img class="img-fluid" src="images/safari.png">
  <h1 class="text-white">Tomb</h1>
</div>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<!-- <AuthorizeView Roles="Admin,Researcher">
    <Authorized>
        <div class="text-center">
            <a asp-controller="Home" asp-action="AddRecord">click</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="text-center">
            <a>You aren't allowed here</a>
        </div>
    </NotAuthorized>
</AuthorizeView> -->
