@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Textile Confirmation";
}

@model intexii.Models.AnalysisTextile;


<div class="container text-center">
    <h2>Your Textile Record has been saved</h2>
    <h3>Would you like to attach a new analysis to this record?</h3>
    <form style="margin:30px">
        <label>Textile Record:</label>
        <input readonly value="@ViewBag.Values.Tid" />
        <label>Color Record:</label>
        <input readonly value="@ViewBag.Values.Aid" />
    </form>

    <form method="post" style="margin:30px">
        <div class="form-group">
            <input asp-for="MainTextileid" value="@ViewBag.Values.Tid" hidden />
        </div>
        <div class="form-group">
            <input asp-for="MainAnalysisid" value="@ViewBag.Values.Aid" hidden />
        </div>
        <button class="btn btn-primary" type="submit">Attach New Analysis</button>
        <button class="btn btn-danger" type="submit">Don't Add</button>
    </form>
    <br />

</div>