@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Unsupervised";
}

<div class="text-center">
    <h1>Unsupervised Prediction Model</h1>
    <br/>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card">
            <br/>
            <img src="/images/graph1.png" class="card-img-top"
                 alt="graph1" />
            <div class="card-body">
                <br/><br /><br /><br />
                <h5 class="card-title">K-means</h5>
                <p class="card-text">
                    This K-means model shows the results of clustering various features related to burial depth and location.
                    From this analysis, we learn that the variables Square North South and Square East West are the most influencial in the
                    location of where the burials are. The 3D model shows cluster according to color and labeled distances.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="/images/graph2.png" class="card-img-top"
                 alt="graph2" />
            <div class="card-body">
                <h5 class="card-title">t-Distributed Stochastic Neighbor Embedding</h5>
                <p class="card-text">
                    The t-Distributed Stochastic Neighbor Embedding (t-SNE) shown gives a visual of where burials are in relation to each other. Once again, the clusters
                    related to each other are grouped by color, giving more insight into location comparison. The same data was used for visual 1 and 2.
                </p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="/images/graph3.png" class="card-img-top"
                 alt="graph3" />
            <div class="card-body">
                <h5 class="card-title">Principal Component Analysis</h5>
                <p class="card-text">
                    The Principal Component Analysis (PCA) visual brings more of a streamlined approach showing the data from a simplified perspective.
                    It was passed through teh K-means model to show the 2D concept of the most important features for the burial location.
                </p>
                <br/>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card">
            <img src="/images/graph4.png" class="card-img-top"
                 alt="Skyscrapers" />
            <div class="card-body">
                <h5 class="card-title">Correlation Regression</h5>
                <p class="card-text">
                    Looking through the results of the analysis, we can see which factors are correlated to burial depth.
                    We can see that the textile counts and depth are strongly correlated while location and depth are weakly correlated.
                    As the burial depths are deeper, the amount of textiles found are increased. We can predict to discover more textiles with older burials.
                </p>
                <br />
            </div>
        </div>
    </div>
</div>

